@using System.Collections;
@model IEnumerable<WebCosmeticsStore.Models.Category>
@{
    ViewData["Title"] = "Index";
}
<h1>Quản Lý Loại Sản Phẩm</h1>
<a asp-controller="Category" asp-action="Add" class="bi bi-plus fs-4 btn btn-success mb-4">Create Category</a>
<table class="table">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-dark ">View</a>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-dark ">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark ">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



