<h1 class="h1 d-flex justify-content-center">Role Manager</h1>
<table class="table table-bordered table-hover " style="border: 5px solid blueviolet; text-align:center;">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">Role</th>
            <th scope="col">Update Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">@item.UserName</td>
                <td class="align-middle">@item.Name</td>
                <td class="align-middle" style="text-align: right;">
                    <form asp-controller="AdminManager" asp-action="UpdateUserRole" method="post">
                        <input type="hidden" name="userId" value="@item.UserId" />
                        <div class="form-floating mb-3">
                            <select name="roleId" class="form-select border-0" aria-required="true" placeholder="password">
                                <option disabled selected>Select Role</option>
                                @foreach (var role in ViewBag.Role)
                                {
                                    <option value="@role.Value">@role.Text</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Update</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>